asgiref==3.5.2
distlib==0.3.5
Django==4.1
django-cors-headers==3.13.0
django-filter==22.1
django-pictures==1.0rc2
djangorestframework==3.13.1
drf-nested-routers==0.93.4
Pillow==9.2.0
platformdirs==2.5.2
protobuf==3.20.1
pytz==2022.2.1
sqlparse==0.4.2
tzdata==2022.2
whitenoise==6.2.0
